.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 링크 요소(a)에 대한 스타일링:
//
// 최신 브라우저에서 text-decoration-thickness와 text-underline-offset 속성을 지원하는 경우, 링크의 밑줄이 0.8rem 아래에 배치됨
// 구형 브라우저에서는 밑줄 대신 padding-bottom: 0.45rem이 적용되어, 링크가 밑줄을 대신해 여백을 갖도록 함
//
// 버튼 요소(.btn 및 .gumroad-button)에 대한 스타일링:
//
// btn 및 gumroad-button 클래스가 적용된 버튼 요소는 위와 아래에 각각 1rem의 간격을 가지며, 이는 버튼들이 서로나 다른 요소와 겹치지 않도록 함
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////